FLASK_APP=flaskr
FLASK_ENV=development
DATABASE_URL=postgresql://localhost:5432/trivia
TEST_DATABASE_URL=postgresql://localhost:5432/trivia_test
TEST_ADMIN_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJVSXlPRU00T1RrME56UTNSamM0UmtGRk4wWXdNRGxFUkRZeVJUVTVORGN6UlVNMk9FWkZPUSJ9.eyJpc3MiOiJodHRwczovL3BvbWEuYXV0aDAuY29tLyIsInN1YiI6ImF1dGgwfDYxOTM4OWJjYzZlNTNmMDA2OWMxZjU2MSIsImF1ZCI6InRyaXZpYSIsImlhdCI6MTYzNzA2MDk4MSwiZXhwIjoxNjM3MDY4MTgxLCJhenAiOiJyMENEY2I4eEY3WkJwRHFwblJ6MTdZNHlRRnZYRFVKMiIsInNjb3BlIjoiIiwicGVybWlzc2lvbnMiOlsiYWRkOnF1ZXN0aW9uIiwiZGVsZXRlOnF1ZXN0aW9uIiwidXBkYXRlOnF1ZXN0aW9uIl19.R-qacpVRK9gchG2_qWE3otN3hlr0sb1oAxtE_jnP0-q1-OCh8isivffNV3hjSHMTlfWxfUBVk7d2orcCJ_nTY9z6o-BjUc-DdRs1U5EyAlANTWV3iO3ncIC-jWYmDs1EuMjiVaIALLCsr34Ol0pXW9eTt5nSUzmKmME1Xa0RpymhsfIUxv2tPp2valGGA82-pHd9V7CxqutnsNLqCUxRVPUvYx_OyNt65LQvYzKC2Se0VG84rW1s5qd41kwySal4krgNw5D2FZa-QAc6WwgvqBZj3QZ18gh3UDeucWPe3nOxxNQs_mCGlnDkw_ZYJuYCQ8PCNLVds9yjh04zgNxxeA"
TEST_PLAYER_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJVSXlPRU00T1RrME56UTNSamM0UmtGRk4wWXdNRGxFUkRZeVJUVTVORGN6UlVNMk9FWkZPUSJ9.eyJpc3MiOiJodHRwczovL3BvbWEuYXV0aDAuY29tLyIsInN1YiI6Imdvb2dsZS1vYXV0aDJ8MTA5NzkxMTMxMTMxMzU0MTI4MDY2IiwiYXVkIjpbInRyaXZpYSIsImh0dHBzOi8vcG9tYS5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNjM3MDYxMTQ3LCJleHAiOjE2MzcwNjgzNDcsImF6cCI6InIwQ0RjYjh4RjdaQnBEcXBuUnoxN1k0eVFGdlhEVUoyIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInBlcm1pc3Npb25zIjpbInBsYXk6cXVpeiJdfQ.eHT6QxPdvHGw2l9jYznxAA3jrkr3JI0ckqdljMX3iSBdN1QD50XqfMk4Iet9ZTkiPfgmxRDQZGAN1l1FuGsOOh4j5ADm58UrrFH41kFzYH_HvMXcy7s2OLoEMGMaa5MaS70zqXGK8rTBhlmcpGDaOr26BTbRNZpzlo_NnS0gCr6eQa37ZAinIL0Zr5IL6gvuItmwm5KJoXaABdUj7vDfoYFsnaO52AXB74PMJu4H5G2ukGqJno5yXrCFdotoOHux7SVKo0U65W-Luc1cLaKK4pKU8Af9OJiGF0wIL_S2VJvZP1449rIkZgbUg4qVhrd0U3gYWlzOCB5fbdcU1G-8IA"
